<!-- A reasonably portable collection of all the links to find me -->
<h2>Places to find me:</h2>

<h3>Content</h3>
<nav>
    {% if site.title != "AnonJr.com" %}<a href="http://www.anonjr.com/">AnonJr.com</a>{% endif %}
    | <a href="https://github.com/AnonJr/">GitHub</a>
    | <a href="https://www.twitch.tv/anonjr_live">Twitch</a>
    | <a href="https://www.youtube.com/channel/UCXafqhKHbkSUIrq0LAuu0tw">YouTube</a>
    | <a href="https://streamlabs.com/anonjr_live">Support</a>
</nav>

<h3>Social(ish &hellip; mostly I just lurk)</h3>
<nav>
    <a href="https://www.instagram.com/anonjr_live/">Instagram</a>
    | <a href="https://www.reddit.com/user/AnonJr/">Reddit</a>
    | <a href="https://substack.com/@anonjr">Substack</a>
    | <a href="https://www.planetminecraft.com/member/anonjr/">Planet Minecraft</a>
    | <a href="https://x.com/AnonJr/">X/Twitter</a>
</nav>

<h3>Projects</h3>
<nav>
    <a href="http://www.asp-ajaxed.org">ASP-Ajaxed</a>
    | <a href="https://www.biblebyexample.com/">Bible By Example</a>
    | <a href="https://www.coffeecraft.us/">CoffeeCraft</a>
    | <a href="https://www.anonjr.com/p/gamesrevisited.html">Games Revisited</a>
    | <a href="https://www.planetminecraft.com/member/anonjr/submissions">Minecraft Resource Packs</a>
    {% if site.title != "Wayward Son Developers" %}| <a href="https://www.waywardsondevelopers.com/">Wayward Son Developers</a>{% endif %}
</nav>


<h3>Inactive</h3>
<nav>
    <a href="https://dev.to/anonjr">Dev.to</a>
    | <a href="https://forum.snitz.com/forum/Account/Detail/AnonJr">Snitz Forums</a>
    | <a href="https://stackexchange.com/users/12701/anonjr">Stack Exchange</a>
</nav>
<br />
<p>I'm sure I've forgotten some places, I'll try to update this as I remember them.</p>