
                <h3><img src="./img/headshot-me.jpg" alt="Picture of Mark" /></h3>
                <h3>Find Me At:</h3>
                <ul>
                    <li><a href="http://blog.anonjr.com/">My Blog</a></li>
                    <li><a href="https://careers.stackoverflow.com/anonjr">My CV</a></li>
                    <li><a href="https://github.com/AnonJr">Github</a></li>
                    <li><a href="http://twitter.com/AnonJr">Twitter</a></li>
                    <li><a href="https://plus.google.com/u/0/106463130767891201519/posts">Google+</a></li>
                </ul>
                <h3>On Stack Exchange:</h3>
                <p><a href="http://stackexchange.com/users/12701"><img src="http://stackexchange.com/users/flair/12701.png" width="208" height="58" alt="profile for AnonJr on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for AnonJr on Stack Exchange, a network of free, community-driven Q&amp;A sites"></a></p>
