        <footer class="wrapper">
            <nav>
                <a href="/index.html" {% if page.title == 'Home' %} class="youarehere"{% endif %}>Home</a> |
                <a href="/jesusjoshua.html" {% if page.title == 'Jesus Joshua 24:15' %} class="youarehere"{% endif %}>Jesus Joshua 24:15</a> |
                <a href="/eastoverfiredept.html" {% if page.title == 'Eastover Fire Department' %} class="youarehere"{% endif %}>Eastover Fire Department</a> |
                <a href="/hopefellowship.html" {% if page.title == 'Hope Fellowship' %} class="youarehere"{% endif %}>Hope Fellowship</a> |
                <a href="/other.html" {% if page.title == 'Other Projects' %} class="youarehere"{% endif %}>Other Projects</a>
            </nav>
            <div id="copyright">&copy;Wayward Son Developers</div>
        </footer>