<head>
    <meta charset="utf-8" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="description" content="{{ site.description }} {{ page.description }}" />

    <title>{{ page.title }} | Wayward Son Developers</title>

    <link href="/img/favicon.ico" rel="icon" type="image/ico" />
    <link href="/res/styles-min.css" rel="stylesheet" type="text/css" />
    <link href="/humans.txt" rel="author" type="text/plain" />

    <!--[if lt IE 9]>
    <script type="text/javascript"> window.html5 = { 'shivCSS': false }; </script>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="/res/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>