---
layout: compress
---
<!doctype html>
<html lang="en">
{% include head.html %}
<body>
    <div id="main-container">

    <div id="header-container">
        {% include header.html %}
    </div> <!-- header-container -->

    <div id="content-container">
        <div class="main wrapper clearfix">
            {{ content }}
        </div> <!-- main wrapper clearfix -->
    </div> <!-- content-container -->

    <div id="footer-container">
        {% include footer.html %}
    </div> <!-- footer-container -->

    </div> <!-- main-container -->
</body>
</html>
